<!--
  Generated template for the BrowsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border class="shadow">

  <ion-toolbar color="light" no-border>
    <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div id="page-header" padding-horizontal>
    <h1 class="page-title">Browse</h1>
    <p class="page-description">Choose a room you would like to book</p>
  </div>

  <ion-list no-lines>
    <ion-list-header>Lo Ka Chung University Center</ion-list-header>
    <ion-item-sliding #slideBtn *ngFor="let room of roomList">
      <ion-item>
        <h2 class="room-title">{{ room.room_name }}</h2>
      </ion-item>
      <ion-item-options>
        <button ion-button color="accent" (click)="viewDetails(room, slideBtn)">
          <ion-icon name="information-circle"></ion-icon>
          Details
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

