page-browse {
  ion-list {
    background-color: color($colors, primary, base);
    border-radius: 10px;
    ion-list-header {
      color: white !important;
    }
  }
  ion-item-sliding {
    margin-bottom: 1px;
  }
  ion-item {
    background-image: url('../../assets/imgs/room1.jpg');
    background-size: cover;
    height: 200px;
  }
  .room-title {
    position: absolute;
    top: 10%;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    background: color($colors,danger, base);
    //background: rgba(color($colors, accent, base),0.8);
    padding: 5px 15px;
    border-radius: 20px
  }
}
