<!--
  Generated template for the RoomDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides autoplay=4000 effect="fade" pager=true loop=true>
    <ion-slide style="background-color:pink">1</ion-slide>
    <ion-slide style="background-color:lightblue">2</ion-slide>
  </ion-slides>
  <div>
    <ion-item>
      <p style="font-size:1.4rem">Lo Ka Chung University Center</p>
      <h1 style="font-size:3.6rem;font-weight:bold;margin:0 0 10px">{{ room.room_name }}</h1>
      <p style="font-size:1.5rem;margin-bottom: 15px">Available Timeslots for Today, 13 Feb</p>
      <ion-scroll class="slot-buttons" scrollX="true" style="white-space:nowrap;height:70px">
          <button *ngFor="let slot of timeslots" ion-button color="primary" (click)="goToBookingDetails(slot)">{{slot}}</button>
      </ion-scroll>
    </ion-item>
    <ion-item>
      <h2>About</h2>
      <p class="description">{{ room.about }}</p>
    </ion-item>
    <ion-item>
      <h2>Opening Hours</h2>
      <p>Monday to Friday</p>
      <p>{{ room.opening_hour.start }} - {{ room.opening_hour.end }}</p>
    </ion-item>
    <ion-item>
      <h2>Booking Rules</h2>
      <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum laborum velit perferendis delectus corporis iure ab
        soluta assumenda itaque vitae necessitatibus libero fuga architecto inventore, ducimus vel nam quaerat ex!</p>
    </ion-item>
    <ion-item>
      <h2>Equipments</h2>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, dignissimos!</p>
    </ion-item>
    <ion-item>
      <h2>Ask admin a question</h2>
    </ion-item>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar style="text-align: center">
    <button ion-button full round color="accent" style="font-weight:500" (click)="checkAvailabilty(room)">Check Availability</button>
  </ion-toolbar>
</ion-footer>

