page-room-details {
  ion-slides {
    height: 200px;
  }
  h2 {
    padding: 5px 0;
    font-weight: 500 !important
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .description {
    white-space: normal;
    text-align: justify;
  }
  .item-ios p {
    line-height: 2.1rem;
  }
  .scroll-content {
    padding: 0 !important;
  }
}

