page-event-form {
  .item-ios {
    padding-left: 0;
  }
  ion-select {
    width: 100%;
    max-width: 100%;
  }
  .text-input-ios {
    margin: 0px 8px 0 0;
  }
  .toolbar-background-ios {
    background-color: #fff;
  }
  button {
    width: 95%;
  }
  h6 {
    margin-bottom: 0;
    margin-top: 20px;
  }
}

