<!--
  Generated template for the EventFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding>

    <ion-navbar>
        <ion-title>Form</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>What is your event?</h1>
  <p>Please fill in the event particulars.</p>
  <br>

  <h6>Name of the Event</h6>
  <ion-item>
    <ion-input [(ngModel)]="name" type="text" placeholder="Enter the name of the event"></ion-input>
  </ion-item>

  <h6>Purpose of the Event</h6>
  <ion-item>
    <ion-input [(ngModel)]="purpose" type="text" placeholder="Enter the purpose of the event"></ion-input>
  </ion-item>

  <h6>Number of Participants</h6>
  <ion-item>
    <ion-input [(ngModel)]="number" type="text" placeholder="Enter the number of participants"></ion-input>
  </ion-item>

  <h6>Person-in-charge</h6>
  <ion-item>
    <ion-input [(ngModel)]="pic" type="text" placeholder="Enter the person-in-charge"></ion-input>
  </ion-item>

  <h6>Nature of Participants</h6>
  <p style="color:grey;font-size:1.2rem">You can choose more than one</p>

  <ion-list>
    <ion-item>
      <ion-label>Student</ion-label>
      <ion-checkbox value="student"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Staff</ion-label>
      <ion-checkbox value="staff"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Faculty Members</ion-label>
      <ion-checkbox value="faculty"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Alumni</ion-label>
      <ion-checkbox value="alumni"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Outsiders</ion-label>
      <ion-checkbox value="outsider"></ion-checkbox>
    </ion-item>
  </ion-list>

  <h6>Chargeble for the Participants</h6>
  <ion-item>
    <ion-select [(ngModel)]="charge">
      <ion-option value="yes">Yes</ion-option>
      <ion-option value="no">No</ion-option>
    </ion-select>
  </ion-item>
  <p style="font-size:1rem; line-height:1.5rem;color:grey">For scheduled events/classes on a fee-basis, guest tickets at HK$20/person/session are available for sale at the Lo Ka
    Chung University Center Management Office.</p>

</ion-content>
<ion-footer>
  <ion-toolbar style="text-align: center">
    <button ion-button round color="light" (click)="book()">Request Booking</button>
  </ion-toolbar>
</ion-footer>

