page-login {
  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .no-border {
    border-bottom: 0 !important;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    ion-col.col {
      margin: 0 auto;
      max-width: 40%;
    }
  }
  ion-list {
    margin: 0 0 20px !important;
    border-radius: 4px;
    overflow: hidden;
  }
  ion-item {
    // border-radius: 30px !important;
    padding-left: 20px !important;
    margin-bottom: 10px;
    background-color: #f6f6f6;   
    font-size: 0.9em;
  }
  .login-button {
      color: color($colors, light, base);
      font-weight: 700;
      width: 100%;
  }
}
