<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="transparent-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-row style="position: absolute;top: 5%;width: 100%;left: 0;padding: 0 30px;text-align: left">
    <ion-col>
      <h1 class="text-white" style="font-weight:200">CSO<span style="font-weight:500">RoomBooking</span>
      </h1>
    </ion-col>
  </ion-row>
  <ion-row style="position: absolute;top: 20%;width: 100%;left: 0;padding: 0 30px;text-align: left">
    <ion-col>
      <h1 class="text-white">Welcome
        <br>
        <span style="font-weight:200;">Log in to start your booking</span>
      </h1>
    </ion-col>
  </ion-row>
  <ion-row style="position: absolute;bottom: 35%;width: 100%;left: 0;padding: 0 30px;">
    <ion-col>
      <ion-list id="login-input" class="no-border shadow">
        <ion-item>
          <ion-input type="text" placeholder="ITSC Email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </ion-list>
      <div class="text-white" (click)="goToSignup()">
        <span>Forget password?</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="position: absolute;bottom: 5%;width: 100%;left: 0;padding: 0 30px;">
    <ion-col>
      <button ion-button round color="accent" class="login-button shadow" (click)="login()">LOGIN</button>
    </ion-col>
  </ion-row>
</ion-content>

