<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Browse" tabIcon="compass"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Bookings" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Inbox" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Account" tabIcon="contact"></ion-tab>
</ion-tabs>
