// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1,h2,h3,h4,h5,p { color: #333 }
ion-item { padding-right: 16px !important }

.shadow { box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.15) }
.text-white { color: white }

.slot-buttons button {
  font-size: 14px;
  border-radius: 20px;
  padding: 0 18px;
  margin: 0 2px;
  font-weight: 500
}

#page-header {
  margin: 3rem 0;
  .page-title {
    font-weight: 700;
    font-size: 28pt;
    margin: 0 0 .5rem;
  }
  .page-description { margin: 0; }
}

.transparent-header {
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }
}