<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calendar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-calendar [(ngModel)]="dateMulti" [options]="optionsMulti" [type]="type" [format]="'YYYY-MM-DD'"></ion-calendar>
  <h4 padding>Available Timeslots</h4>
  <div id="timeslots" *ngFor="let date of dateMulti">
    <p id="date">{{ date | date }}</p>
    <ion-scroll class="slot-buttons" scrollX="true" style="white-space:nowrap;height:70px">
      <button *ngFor="let slot of timeslots" ion-button color="primary" (click)="goToBookingDetails(date, slot)">{{slot}}</button>
    </ion-scroll>
  </div>
</ion-content>
