page-calendar {
  h4 {
    border-top: 1px solid #e8e8e8;
  }
  ion-calendar {
    padding: 0 !important;
  }
  .scroll-content {
    padding: 0 !important;
  }
  #timeslots {
    padding: 0 16px;
  }
  #date {
    font-weight: 500
  }
}
