<!--
  Generated template for the BookingDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Details for Booking</h1>
  <p>Please fill in the following information.</p>
  <br>

  <h6>Date and Timeslot</h6>
  <ion-item>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="startTime"></ion-datetime>
    <p>{{ slot }}</p>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar style="text-align: center">
    <button ion-button full round color="accent" (click)="goToEventForm()">Next</button>
  </ion-toolbar>
</ion-footer>

