<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div id="page-header" padding-horizontal>
    <h1 class="page-title">My Account</h1>
    <p class="page-description">Check you booking status and history</p>
  </div>

</ion-header>


<ion-content padding>

</ion-content>

